<a href="#" class="list-group-item item-clickable">
  <% if item.keys[0].has_price? %>
    <div class="price-div item-clickable">
      <span class="glyphicon glyphicon-plus price-button">1</span>
      <span class="glyphicon-class price-tag">$ <%= item.keys[0].price %></span>
    </div>
  <% end %>
	<h4 class="level-2-title">
  	<%= item.keys[0].name %>
	</h4>
	<p class="level-2-text">
  	<%= item.keys[0].description %>
	</p>
</a>
<% if item.values[0].length > 0 %>
  <div class="row">
  	<div class='col-md-1 col-sm-1 col-xs-1'></div>
    <div class='col-md-11 col-sm-11 col-xs-11'>
  		<% item.values[0].each do |sub_item| %>
  			<%= render :partial => 'item_level_1', :locals => {:item => sub_item} %>
  		<% end %>
    </div>
  </div>
<% end %>