<nav class="navbar navbar-default">
  <div class="container-fluid">
  	<div class="navbar-header">
      <a class="navbar-brand glyphicon glyphicon-fire" href="#">
      </a>
    </div>
  </div>
 </nav>