<div class="nav-top">
	<div class="nav-left">
		<h4>
  			<%= link_to "Back", business_path(@business) %>
    	</h4>
	</div>
</div>

<div class="page-header">
	<p class="center-text">
		Customers waiting at <%= @business.name %>:
	</p>
</div>

<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Party Size</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td>Total:</td>
			</tr>
		</tfoot>
		<tbody>
			<% @visits.each_with_index do |visit, n| %>
				<tr>
					<td><%= n %></td>
					<td>name of visitor</td>
					<td>party size</td>
				</tr>
			<% end %>
		</tbody>
		
	</table>
</div>